:root {
    --primary-color: #f49c1b;
    --text-gray: #6c757d
}
#header {
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    #header-mobile {
        .top img {
            height:40px 
        }
        .navigation {
            .bar1,.bar2, .bar3 {
                width: 35px;
                height: 4px;
                background-color: #c2c2c2;
                margin: 6px;
                transition: all .2s linear;
            }
        }
        .list-menu {
            font-size: .9em;
            display: none;
            li {
                padding-bottom: 10px;
                a {
                    color: #fff;
                    transition: .2s linear;
                    &:hover {
                        color: var(--primary-color);
                        transition: .2s linear;
                    }
                }
            }
        }
    }
}

.banner {
    #main-banner {
        .item {
            img {
                height: 100%;
                width: 100%;
            }
            .content-banner {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 99;
                color: #fff;
                width: 100%;
            }
        }
        .owl-dots {
            display: none;
        }
    }
}

.about {
    padding-bottom: 5rem;
    .heading {
        background-color: #f8f8f9; 
        margin-bottom: 4rem;
        h1 {
            font-size: 2.5rem;
            font-weight: 700;
        }
        .arrow {
            bottom: -13%;
            left: 50%;
            transform: translateX(-50%);
            width: 0; 
            height: 0; 
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #f8f8f9;
        }
        
    }
    .content-about {
        .image img {
            width: 130px;
        }
        .content p {
            text-align: justify;
            text-justify: inter-word;
            color: var(--text-gray);
            font-size: .96rem;
        }
        .content h3 {
            font-weight: 600;
            color: #000
        }
        button {
            background-color: var(--primary-color);
            border: 0;
            font-weight: 600;
            font-size: 1rem;
            outline: none;
            &:focus {
                box-shadow: 0 0 0 .2rem rgba(240,95,64,.5)
            }
        }
    }
}
.service {
    .heading {
        background-color: #f8f8f9; 
        margin-bottom: 4rem;
        h1 {
            font-size: 2.5rem;
            font-weight: 700;
        }
        .arrow {
            bottom: -13%;
            left: 50%;
            transform: translateX(-50%);
            width: 0; 
            height: 0; 
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #f8f8f9;
        }
        
    }
    .item-service {
        margin-bottom: 2rem;
        .icon {
            color: var(--primary-color);
            font-size: 2.1rem;
            width: 80px;
            height: 80px;
            border: 3px solid var(--primary-color);
            border-radius: 100%;
        }
        p {
            color: var(--text-gray);
            font-size: .9rem;
        }
    }
}

.partner {
    .heading {
        background-color: #f8f8f9; 
        margin-bottom: 4rem;
        h1 {
            font-size: 2.5rem;
            font-weight: 700;
        }
        .arrow {
            bottom: -13%;
            left: 50%;
            transform: translateX(-50%);
            width: 0; 
            height: 0; 
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #f8f8f9;
        }
    }
}

.pricing {
    .heading {
        background-color: #f8f8f9; 
        margin-bottom: 4rem;
        h1 {
            font-size: 2.5rem;
            font-weight: 700;
        }
        .arrow {
            bottom: -13%;
            left: 50%;
            transform: translateX(-50%);
            width: 0; 
            height: 0; 
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #f8f8f9;
        }
    }
    .border-content {
        border: 1px solid #f1f1f1;
        border-radius: 3px;
    }
    .thumbnail {
        img {
            width: 100%;
        }
        .thumbnail-content {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            .price {
                height: 110px;
                width: 110px;
                border: 3px solid var(--primary-color);
                border-radius: 100%;
                background-color: #fff;
                h3 {
                    margin-bottom: 0;
                    color: var(--primary-color);
                    font-weight: 600;
                    font-size: 1.5rem;
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    .pricing-content {
        padding-left: 0;
        margin-bottom: 0;
        li {
            padding: 8px 0;
            font-size: .9rem;
            &:nth-child(odd) {
                background-color: #f5f5f5;
            }
            &:nth-child(even) {
                background-color: #ebebeb;
            }
        }
    }
    button {
        background-color: var(--primary-color);
        outline: none;
        border: 0;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        &:focus {
            box-shadow: 0 0 0 .2rem rgba(240,95,64,.5)
        }
    }
}

.new {
    .heading {
        background-color: #f8f8f9; 
        margin-bottom: 4rem;
        h1 {
            font-size: 2.5rem;
            font-weight: 700;
        }
        .arrow {
            bottom: -13%;
            left: 50%;
            transform: translateX(-50%);
            width: 0; 
            height: 0; 
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #f8f8f9;
        }
    }
    .item-new {
        a {
            width: 100%;
            img {
                width: 100%;
            }
        }
        h3 {
            font-size: 1.3rem;
            font-weight: 600;
        }
        p {
            color: var(--text-gray);
            font-size: .9rem;
            span {
                color: var(--primary-color);
            }
        }
    }
    a {
        display: inline-block;
        background-color: var(--primary-color);
        color: #fff;
        outline: none;
        border: 0;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        i {
            padding-left: 7px;
        }
    }
}

.tenant {
    .heading {
        background-color: #f8f8f9; 
        margin-bottom: 4rem;
        h1 {
            font-size: 2.5rem;
            font-weight: 700;
        }
        .arrow {
            bottom: -13%;
            left: 50%;
            transform: translateX(-50%);
            width: 0; 
            height: 0; 
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #f8f8f9;
        }
    }
    .owl-dots {
        display: none;
    }
}

.contact {
    .heading {
        background-color: #f8f8f9; 
        margin-bottom: 4rem;
        h1 {
            font-size: 2.5rem;
            font-weight: 700;
        }
        .arrow {
            bottom: -13%;
            left: 50%;
            transform: translateX(-50%);
            width: 0; 
            height: 0; 
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #f8f8f9;
        }
    }
    .item-contact {
        margin-bottom: 40px;
        i {
            color: var(--primary-color);
            font-size: 4.6rem;
        }
        p {
            &:nth-of-type(1) {
                color: var(--text-gray);
            }
            &:nth-of-type(2) {
                font-weight: 700;
            }
        }

    }
}

.social {
    background-image: url('../images/social.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    .item-social {
        margin-top: 2rem;
        .icon {
            font-size: 2.1rem;
            width: 80px;
            height: 80px;
            border: 3px solid var(--primary-color);
            border-radius: 100%;
            color: var(--primary-color);
        }
        p {
            color: #fff;
            font-weight: 700;
        }
    }
}

.footer {
    p {
        color: var(--text-gray);
        margin-bottom: 0;
        font-size: .9rem;
    }
}